body{
    background-image: url("./images-thumbnails/purple-stars-background_1844312.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}
.container-fluid{
    padding: 0px;
}
img{
    max-height: 605px;
}
h1{
    text-align: center;
    color: white;
}
.carousel-col{
    padding: 0px;
}
button{
    background-color: white;
    border: 1px purple solid;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}
footer{
    color: black;
    background: white;
    text-align: center;
    margin-top: 10px;
}