body{
    background-image: url("./images-thumbnails/purple-stars-background_1844312.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}
.container-fluid{
    padding: 0px;
}
img{
    max-height: 605px;
}
h1{
    text-align: center;
}
.carousel-col{
    padding: 0px;
}
