body{
    background-image: url("./images-thumbnails/purple-stars-background_1844312.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}
.container-fluid{
    padding: 0px;
}
.card{
    box-shadow: 2px -1px 9px 1px #ffffff;
}
footer{
    color: black;
    background: white;
    text-align: center;
    margin-top: 10px;
    font-family: 'Niconne', cursive;
}
.navbar-brand{
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.card-text{
    font-family: 'Handlee', cursive;
}
#headerH1{
    text-shadow: 4px 2px 8px #ffe300;
    text-align: center;
    font-size: 100px;
    font-family: 'Niconne', cursive;
  color: #fff;
  text-align: center;
  
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    #headerH1{
        font-size: 40px;
        margin: 0px;
}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
.card{

}
}